In [42]:
import pandas as pd
import numpy as np
import datetime

### 1) Load this data in pandas

In [4]:
orders = pd.read_excel(r'E:\UserData\z0045tad\Documents\LeetC\iNeuron\Pandas\dataset\Superstore_USA.xlsx')
returns = pd.read_excel(r'E:\UserData\z0045tad\Documents\LeetC\iNeuron\Pandas\dataset\Superstore_USA.xlsx', sheet_name='Returns')
users = pd.read_excel(r'E:\UserData\z0045tad\Documents\LeetC\iNeuron\Pandas\dataset\Superstore_USA.xlsx', sheet_name='Users')

### 3) Find out how many returns that we have recived and with a product id.

In [16]:
returns['Order ID'].unique().size

1634

In [17]:
returns['Order ID']

0           65
1          612
2          614
3          678
4          710
         ...
1629    182681
1630    182683
1631    182750
1632    182781
1633    182906
Name: Order ID, Length: 1634, dtype: int64

###  4) try  to join order and return data in pandas

In [19]:
orders.merge(returns)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Washington,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,North Carolina,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,California,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Pennsylvania,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,Returned

###  5 ) Try to find out how many unique customer that we have

In [20]:
orders.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [26]:
orders['Customer ID'].unique().size

2703

### 6 ) Try to find out in how many regions we are selling a product and who is a manager for a respective region

In [33]:
pd.DataFrame(orders['Region'].unique(), columns=['Region']).merge(users)

    Region  Manager
0  Central    Chris
1     West  William
2     East     Erin
3    South      Sam

### 7 ) Find out how many different shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset.

In [36]:
(orders['Ship Mode'].value_counts()/orders['Ship Mode'].count())*100

Regular Air       74.644600
Delivery Truck    13.611288
Express Air       11.744112
Name: Ship Mode, dtype: float64

### 8 ) Create a new coulmn and try to find our a diffrence between order date and shipment date

In [38]:
orders['Turn-Around-Time'] = orders['Ship Date']-orders['Order Date']

In [39]:
orders['Turn-Around-Time']

0      2 days
1      1 days
2      1 days
3      1 days
4      0 days
        ...
9421   1 days
9422   0 days
9423   2 days
9424   3 days
9425   2 days
Name: Turn-Around-Time, Length: 9426, dtype: timedelta64[ns]

### 9 ) Base on question number 8 find out for which order id we have shipment duration more than 10 days

In [44]:
orders[orders['Turn-Around-Time']>datetime.timedelta(10)]['Order ID']

643     87215
1548    86318
1549    86318
1678    87957
1679    87957
1680    87957
1697    19556
1698    19556
1699    19556
2515    86177
5548    88223
5673    88352
5859    87572
5881    91294
8607    86434
8609    86436
8610    86436
8973    87300
8982    19841
8983    19841
8993    19841
8996    87300
8997    87300
Name: Order ID, dtype: int64

### 10 ) Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well

In [47]:
return_orders = orders.merge(returns)

In [51]:
return_orders[return_orders['Turn-Around-Time']>datetime.timedelta(15)]

Empty DataFrame
Columns: [Row ID, Order Priority, Discount, Unit Price, Shipping Cost, Customer ID, Customer Name, Ship Mode, Customer Segment, Product Category, Product Sub-Category, Product Container, Product Name, Product Base Margin, Region, State or Province, City, Postal Code, Order Date, Ship Date, Profit, Quantity ordered new, Sales, Order ID, Turn-Around-Time, Status]
Index: []

[0 rows x 26 columns]

###  11 ) Group by region and find out which region is more profitable

In [55]:
orders.groupby('Region')['Profit'].sum().index[0]

'Central'

### 12 ) Try to find out overall in which Country/State we are giving more discounts.

In [61]:
orders.groupby('State or Province')['Discount'].sum().sort_values().index[-1]

'California'

### 13 ) Give me a list of unique postal code

In [65]:
pd.Series(orders['Postal Code'].unique())

0       60101
1       98221
2       91776
3       95123
4        2724
        ...
1692     6820
1693    60014
1694    61832
1695    62521
1696    26554
Length: 1697, dtype: int64

### 14 ) Which customer segement is more profitalble find it out

In [68]:
orders.groupby('Customer Segment')['Profit'].sum().sort_values().index[-1]

'Corporate'

### 15 ) Try to find out the 10th most loss making product catagory / sub category

In [75]:
#There are only 3 product categories
orders.groupby('Product Sub-Category')['Profit'].sum().sort_values().index[9]

'Computer Peripherals'

### 16 )  Try to find out 10 top  product with Highest margins

In [83]:
orders.sort_values(by='Product Base Margin')['Product Name'][0:10]

2431              GBC DocuBind 200 Manual Binding Machine
8248       Peel & Seel® Recycled Catalog Envelopes, Brown
1515       Peel & Seel® Recycled Catalog Envelopes, Brown
5050       Peel & Seel® Recycled Catalog Envelopes, Brown
413                                           Accessory31
5034                          Prang Dustless Chalk Sticks
8308         Staples Brown Kraft Recycled Clasp Envelopes
8311     Storex DuraTech Recycled Plastic Frosted Binders
8318                                          Accessory31
1553    Adams Telephone Message Book w/Frequently-Call...
Name: Product Name, dtype: object